In [1]:
from mod import O_general as gr
from mod.O_config import GROUP_LIST, MANAGER_DICT
from mod.O_general import Student

In [2]:
# step 0: 建立連線，並將所有分頁讀入
client = gr.create_client()
df_dict = gr.connect_and_read_all_sheets(client=client)

In [3]:
# step 1: 負責人登入，並選擇查看的小組
user = input("請輸入使用者名稱") # 提供選項["林玲", "桂丹", "善美", 總覽]
group = input("請輸入查詢小組") # 提供選項["社青小組", "善牧小組"]
if user in list(MANAGER_DICT) and group in GROUP_LIST:
    course = MANAGER_DICT[user]
    df = df_dict[group]

    mask = (df["課程"] == course)
    df_temp = df[mask]
else:
    print("使用者名稱或小組名稱輸入錯誤")

In [4]:
# step 1-2: 將符合條件的成員列出
df_temp

     姓名    課程     生日 執行狀況：一月 執行狀況：二月 執行狀況：三月 執行狀況：四月
10  歐國顯  初信造就  04/06
11  王酉芬  初信造就  07/22
12  張羢悌  初信造就  12/01
13  胡麗麗  初信造就  12/23
14  王信照  初信造就  09/02
15  周文貴  初信造就  01/08
16  趙煥枝  初信造就  01/10
17   趙芹  初信造就  12/23
18   唐俐  初信造就  10/30
19  謝靜怡  初信造就  10/01
20  姜慶鈴  初信造就  01/01
21  梁益正  初信造就  01/01
22  孫世昌  初信造就  01/01

In [5]:
# step 2: 輸入修改對象
search_name = input("請輸入欲修改的對象") # 使用st.multiselect方式搜尋所有姓名

mask = (df_temp["姓名"] == search_name)
result = df_temp[mask]
result_idx = result.index[0]

search_student = Student.from_series(df.loc[result_idx])

In [6]:
df.loc[result_idx]

姓名           周文貴
課程          初信造就
生日         01/08
執行狀況：一月
執行狀況：二月
執行狀況：三月
執行狀況：四月
Name: 15, dtype: object

In [7]:
# step 3: 選擇修改月份
update_month = input("請輸入欲修改的月份") # 提供選項：{"執行狀況：一月": jan, "執行狀況：二月": feb, "執行狀況：三月": mar, "執行狀況：四月": apr}

comment = input("請輸入說明") # 可輸入任意字串，上限100字

setattr(search_student, update_month, comment)

In [8]:
# step 4: 將修改後資料存回
df.loc[result_idx] = search_student.to_dict()

In [9]:
df.loc[result_idx] = search_student.to_dict()
df.loc[result_idx]

姓名           周文貴
課程          初信造就
生日         01/08
執行狀況：一月       全勤
執行狀況：二月
執行狀況：三月
執行狀況：四月
Name: 15, dtype: object

In [10]:
worksheet = gr.connect_sheet_file(client=client, sheet_name=group)

gr.save_to_sheet(worksheet=worksheet, df=df)

資料儲存成功！